* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;


    background-color: #615e5e;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.contenedor {
    background-color: #fff;
    height: 680px;
    width: 350px;
    box-shadow: 0 13px 33px #000;
    background-size: cover;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    font-family: sans-serif;
    border-radius: 3%;
}

.css-button {
    min-width: 80px;
    height: 30px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: none;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
        7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
    background: #212529;
    z-index: 1;

}

.css-button:hover:after {
    width: 100%;
    left: 0;
    /* background: #002244; */
    background-color: rgb(40, 163, 194);
}

.css-button:after {
    border-radius: 5px;
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    z-index: -1;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
        7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    background-color: #343a40;
    right: 0;
}

.about_text {
    margin: 20px 10px;
    padding: 20px 20px;
}

.about_text p {
    text-align: justify;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    color: #000;
    font-weight: bold;
}

.return_btn {
    margin: 10px 10px;
    padding: 10px 10px;
}